In [87]:
# Importing libraries
import pandas as pd
import re
import sqlite3
import requests
import os

**Extract**

In [88]:
# Base API URL
BASE_URL = "https://data.gov.uk/api/action/"

def package_search(query="price paid"):
    url = f"{BASE_URL}package_search"
    params = {"q": query, "rows": 5}
    response = requests.get(url, params=params)
    response.raise_for_status()

    datasets = response.json().get("result", {}).get("results", [])
    price_paid_resources = []  # To collect relevant resource URLs

    for dataset in datasets:
        # Filter datasets with "price paid" in their title or tags
        if "price paid" in dataset.get("title", "").lower() or \
           any("price paid" in tag.lower() for tag in dataset.get("tags", [])):

            # Fetch resources for the filtered dataset
            resources = dataset.get("resources", [])
            for resource in resources:
                resource_url = resource.get("url")
                if resource_url and resource.get("format", "").lower() == "csv":

                    price_paid_resources.append(resource_url)

    return price_paid_resources

def download_csv(resource_url, save_path="downloaded.csv"):
    print(f"Downloading CSV from: {resource_url}")
    response = requests.get(resource_url, stream=True)
    response.raise_for_status()  # Ensure the request was successful

    with open(save_path, "wb") as file:
        for chunk in response.iter_content(chunk_size=8192):
            file.write(chunk)
    print(f"File downloaded successfully and saved as: {save_path}")

# Run the search and download the CSV
price_paid_urls = package_search()
if price_paid_urls:
    for index, url in enumerate(price_paid_urls, start=1):
        save_path = f"price_paid_dataset_{index}.csv"
        download_csv(url, save_path)
else:
    print("No Price Paid Datasets found.")

Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1995.csv
File downloaded successfully and saved as: price_paid_dataset_1.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1996.csv
File downloaded successfully and saved as: price_paid_dataset_2.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1997.csv
File downloaded successfully and saved as: price_paid_dataset_3.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1998.csv
File downloaded successfully and saved as: price_paid_dataset_4.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1999.csv
File downloaded successfully and saved as: price_paid_dataset_5.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2000.csv
File downloaded successfully and saved as: price_paid_dataset_6.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2001.csv
File downloaded successfully and saved as: price_paid_dataset_7.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2002.csv
File downloaded successfully and saved as: price_paid_dataset_8.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2003.csv
File downloaded successfully and saved as: price_paid_dataset_9.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2004.csv
File downloaded successfully and saved as: price_paid_dataset_10.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2005.csv
File downloaded successfully and saved as: price_paid_dataset_11.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2006.csv
File downloaded successfully and saved as: price_paid_dataset_12.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2007.csv
File downloaded successfully and saved as: price_paid_dataset_13.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2008.csv
File downloaded successfully and saved as: price_paid_dataset_14.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2009.csv
File downloaded successfully and saved as: price_paid_dataset_15.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2010.csv
File downloaded successfully and saved as: price_paid_dataset_16.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2011.csv
File downloaded successfully and saved as: price_paid_dataset_17.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2012.csv
File downloaded successfully and saved as: price_paid_dataset_18.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1995-part1.csv
File downloaded successfully and saved as: price_paid_dataset_19.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1995-part2.csv
File downloaded successfully and saved as: price_paid_dataset_20.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1996-part1.csv
File downloaded successfully and saved as: price_paid_dataset_21.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1996-part2.csv
File downloaded successfully and saved as: price_paid_dataset_22.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1997-part1.csv
File downloaded successfully and saved as: price_paid_dataset_23.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1997-part2.csv
File downloaded successfully and saved as: price_paid_dataset_24.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1998-part1.csv
File downloaded successfully and saved as: price_paid_dataset_25.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1998-part2.csv
File downloaded successfully and saved as: price_paid_dataset_26.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1999-part1.csv
File downloaded successfully and saved as: price_paid_dataset_27.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-1999-part2.csv
File downloaded successfully and saved as: price_paid_dataset_28.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2000-part1.csv
File downloaded successfully and saved as: price_paid_dataset_29.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2000-part2.csv
File downloaded successfully and saved as: price_paid_dataset_30.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2001-part1.csv
File downloaded successfully and saved as: price_paid_dataset_31.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2001-part2.csv
File downloaded successfully and saved as: price_paid_dataset_32.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2002-part1.csv
File downloaded successfully and saved as: price_paid_dataset_33.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2002-part2.csv
File downloaded successfully and saved as: price_paid_dataset_34.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2003-part1.csv
File downloaded successfully and saved as: price_paid_dataset_35.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2003-part2.csv
File downloaded successfully and saved as: price_paid_dataset_36.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2004-part1.csv
File downloaded successfully and saved as: price_paid_dataset_37.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2004-part2.csv
File downloaded successfully and saved as: price_paid_dataset_38.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2005-part1.csv
File downloaded successfully and saved as: price_paid_dataset_39.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2005-part2.csv
File downloaded successfully and saved as: price_paid_dataset_40.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2006-part1.csv
File downloaded successfully and saved as: price_paid_dataset_41.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2006-part2.csv
File downloaded successfully and saved as: price_paid_dataset_42.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2007-part1.csv
File downloaded successfully and saved as: price_paid_dataset_43.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2007-part2.csv
File downloaded successfully and saved as: price_paid_dataset_44.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2008-part1.csv
File downloaded successfully and saved as: price_paid_dataset_45.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2008-part2.csv
File downloaded successfully and saved as: price_paid_dataset_46.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2009-part1.csv
File downloaded successfully and saved as: price_paid_dataset_47.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2009-part2.csv
File downloaded successfully and saved as: price_paid_dataset_48.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2010-part1.csv
File downloaded successfully and saved as: price_paid_dataset_49.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2010-part2.csv
File downloaded successfully and saved as: price_paid_dataset_50.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2011-part1.csv
File downloaded successfully and saved as: price_paid_dataset_51.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2011-part2.csv
File downloaded successfully and saved as: price_paid_dataset_52.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2012-part1.csv
File downloaded successfully and saved as: price_paid_dataset_53.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2012-part2.csv
File downloaded successfully and saved as: price_paid_dataset_54.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2013-part1.csv
File downloaded successfully and saved as: price_paid_dataset_55.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2013-part2.csv
File downloaded successfully and saved as: price_paid_dataset_56.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2014-part1.csv
File downloaded successfully and saved as: price_paid_dataset_57.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2014-part2.csv
File downloaded successfully and saved as: price_paid_dataset_58.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2015-part1.csv
File downloaded successfully and saved as: price_paid_dataset_59.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2015-part2.csv
File downloaded successfully and saved as: price_paid_dataset_60.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2016-part1.csv
File downloaded successfully and saved as: price_paid_dataset_61.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2016-part2.csv
File downloaded successfully and saved as: price_paid_dataset_62.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2017-part1.csv
File downloaded successfully and saved as: price_paid_dataset_63.csv
Downloading CSV from: http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2017-part2.csv
File downloaded successfully and saved as: price_paid_dataset_64.csv

**Transform**

In [114]:
# Reading dataset
data = pd.read_csv("pp-2017-part1.csv")

In [115]:
# Adding coulumn names
data.columns = ['TransactionId', 'Price', 'DateofTransfer', 'Postcode', 'PropertyType', 'PropertyAge', 'Tenure','PAON','SAON', 'Street', 'Locality','Town/City',"District",'County','PPDCategory','Record_Status']
data

,TransactionId,Price,DateofTransfer,Postcode,PropertyType,PropertyAge,Tenure,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory,Record_Status
0,{50F18103-65BF-9FD5-E050-A8C063054923},195000,2017-04-11 00:00,YO8 9GN,S,N,F,5,NaN,ST MARYS COURT,HAMBLETON,SELBY,SELBY,NORTH YORKSHIRE,A,A
1,{50F18103-65C0-9FD5-E050-A8C063054923},275000,2017-05-05 00:00,DL8 4BD,D,N,F,LYNDHURST,NaN,NaN,CARLTON,LEYBURN,RICHMONDSHIRE,NORTH YORKSHIRE,A,A
2,{50F18103-65C1-9FD5-E050-A8C063054923},715000,2017-04-28 00:00,HG5 9HA,D,N,F,GATESHILL MANOR,NaN,RIPLEY ROAD,NaN,KNARESBOROUGH,HARROGATE,NORTH YORKSHIRE,A,A
3,{50F18103-65C2-9FD5-E050-A8C063054923},167500,2017-04-03 00:00,YO12 6TW,S,N,F,39,NaN,HIRSTEAD ROAD,NaN,SCARBOROUGH,SCARBOROUGH,NORTH YORKSHIRE,A,A
4,{50F18103-65C4-9FD5-E050-A8C063054923},300000,2017-05-22 00:00,YO18 8QA,D,N,F,CORNER COTTAGE,NaN,NaN,NEWTON ON RAWCLIFFE,PICKERING,RYEDALE,NORTH YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533465,{49B7852A-7C05-7921-E050-A8C063056E8D},275000,2017-02-17 00:00,CR7 7BP,T,N,F,19,NaN,ECCLESBOURNE ROAD,NaN,THORNTON HEATH,CROYDON,GREATER LONDON,A,A
533466,{49B7852A-7C06-7921-E050-A8C063056E8D},900000,2017-02-14 00:00,KT22 9QR,D,N,F,8,NaN,GATESDEN ROAD,FETCHAM,LEATHERHEAD,MOLE VALLEY,SURREY,A,A
533467,{49B7852A-7C07-7921-E050-A8C063056E8D},660000,2017-01-10 00:00,KT6 5JP,S,N,F,31,NaN,FLEECE ROAD,LONG DITTON,SURBITON,ELMBRIDGE,SURREY,A,A
533468,{49B7852A-7C08-7921-E050-A8C063056E8D},385000,2017-02-17 00:00,KT4 8NP,T,N,F,200,NaN,BUCKLAND WAY,NaN,WORCESTER PARK,SUTTON,GREATER LONDON,A,A
533469,{49B7852A-7C09-7921-E050-A8C063056E8D},415000,2017-01-11 00:00,RH2 7NN,S,N,F,17,NaN,HORNBEAM ROAD,NaN,REIGATE,REIGATE AND BANSTEAD,SURREY,A,A

In [116]:
# More information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533470 entries, 0 to 533469
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TransactionId   533470 non-null  object
 1   Price           533470 non-null  int64
 2   DateofTransfer  533470 non-null  object
 3   Postcode        530499 non-null  object
 4   PropertyType    533470 non-null  object
 5   PropertyAge     533470 non-null  object
 6   Tenure          533470 non-null  object
 7   PAON            533470 non-null  object
 8   SAON            79066 non-null   object
 9   Street          523214 non-null  object
 10  Locality        200100 non-null  object
 11  Town/City       533470 non-null  object
 12  District        533470 non-null  object
 13  County          533470 non-null  object
 14  PPDCategory     533470 non-null  object
 15  Record_Status   533470 non-null  object
dtypes: int64(1), object(15)
memory usage: 65.1+ MB

In [117]:
# Checking for null values
data.isnull().sum()

TransactionId          0
Price                  0
DateofTransfer         0
Postcode            2971
PropertyType           0
PropertyAge            0
Tenure                 0
PAON                   0
SAON              454404
Street             10256
Locality          333370
Town/City              0
District               0
County                 0
PPDCategory            0
Record_Status          0
dtype: int64

In [118]:
# Drop all the Postcodes with null values
data.dropna(subset=["Postcode"], inplace=True)
# Checking for Null Values again
data.isnull().sum()

TransactionId          0
Price                  0
DateofTransfer         0
Postcode               0
PropertyType           0
PropertyAge            0
Tenure                 0
PAON                   0
SAON              452653
Street              9759
Locality          331628
Town/City              0
District               0
County                 0
PPDCategory            0
Record_Status          0
dtype: int64

In [119]:
# Delete column district
data.drop(columns=["District"], inplace=True)
# Show the names of columns of dataset
data.columns

Index(['TransactionId', 'Price', 'DateofTransfer', 'Postcode', 'PropertyType',
       'PropertyAge', 'Tenure', 'PAON', 'SAON', 'Street', 'Locality',
       'Town/City', 'County', 'PPDCategory', 'Record_Status'],
      dtype='object')

In [120]:
# Standardize address

# Function to standardize the address and its length
def standardize_address(row):
    # Ensure all columns exist and handle NaN values
    address_components = [
        str(row.get("PAON", "N/A")) if pd.notna(row.get("PAON")) else "N/A",
        str(row.get("SAON", "N/A")) if pd.notna(row.get("SAON")) else "N/A",
        str(row.get("Street", "N/A")) if pd.notna(row.get("Street")) else "N/A",
        str(row.get("Locality", "N/A")) if pd.notna(row.get("Locality")) else "N/A",
        str(row.get("Town/City", "N/A")) if pd.notna(row.get("Town/City")) else "N/A",
        str(row.get("County", "N/A")) if pd.notna(row.get("County")) else "N/A",
        str(row.get("Postcode", "N/A")) if pd.notna(row.get("Postcode")) else "N/A"
    ]

    # Join components with commas
    address = ", ".join(address_components)

    # Convert to title case for consistency
    address = address.title()

    # Clean up any double spaces and trim
    address = re.sub(r"\s{2,}", " ", address).strip()

    return address

# Apply the standardize_address function to the DataFrame
data["StandardizedAddress"] = data.apply(standardize_address, axis=1)
data.head(10)

,TransactionId,Price,DateofTransfer,Postcode,PropertyType,PropertyAge,Tenure,PAON,SAON,Street,Locality,Town/City,County,PPDCategory,Record_Status,StandardizedAddress
0,{50F18103-65BF-9FD5-E050-A8C063054923},195000,2017-04-11 00:00,YO8 9GN,S,N,F,5,NaN,ST MARYS COURT,HAMBLETON,SELBY,NORTH YORKSHIRE,A,A,"5, N/A, St Marys Court, Hambleton, Selby, Nort..."
1,{50F18103-65C0-9FD5-E050-A8C063054923},275000,2017-05-05 00:00,DL8 4BD,D,N,F,LYNDHURST,NaN,NaN,CARLTON,LEYBURN,NORTH YORKSHIRE,A,A,"Lyndhurst, N/A, N/A, Carlton, Leyburn, North Y..."
2,{50F18103-65C1-9FD5-E050-A8C063054923},715000,2017-04-28 00:00,HG5 9HA,D,N,F,GATESHILL MANOR,NaN,RIPLEY ROAD,NaN,KNARESBOROUGH,NORTH YORKSHIRE,A,A,"Gateshill Manor, N/A, Ripley Road, N/A, Knares..."
3,{50F18103-65C2-9FD5-E050-A8C063054923},167500,2017-04-03 00:00,YO12 6TW,S,N,F,39,NaN,HIRSTEAD ROAD,NaN,SCARBOROUGH,NORTH YORKSHIRE,A,A,"39, N/A, Hirstead Road, N/A, Scarborough, Nort..."
4,{50F18103-65C4-9FD5-E050-A8C063054923},300000,2017-05-22 00:00,YO18 8QA,D,N,F,CORNER COTTAGE,NaN,NaN,NEWTON ON RAWCLIFFE,PICKERING,NORTH YORKSHIRE,A,A,"Corner Cottage, N/A, N/A, Newton On Rawcliffe,..."
5,{50F18103-65C5-9FD5-E050-A8C063054923},304000,2017-05-12 00:00,YO10 4HN,S,N,F,73,NaN,HESLINGTON LANE,NaN,YORK,YORK,A,A,"73, N/A, Heslington Lane, N/A, York, York, Yo1..."
6,{50F18103-65C6-9FD5-E050-A8C063054923},782000,2017-05-19 00:00,YO30 7DZ,D,N,F,THE OLD STABLES,NaN,GALMANHOE LANE,NaN,YORK,YORK,A,A,"The Old Stables, N/A, Galmanhoe Lane, N/A, Yor..."
7,{50F18103-65C7-9FD5-E050-A8C063054923},315000,2017-04-28 00:00,BD23 6QN,D,N,F,24,NaN,BRACKENLEY DRIVE,EMBSAY,SKIPTON,NORTH YORKSHIRE,A,A,"24, N/A, Brackenley Drive, Embsay, Skipton, No..."
8,{50F18103-65C8-9FD5-E050-A8C063054923},250000,2017-04-20 00:00,YO13 0PY,T,N,F,19,NaN,THE PARK,SCALBY,SCARBOROUGH,NORTH YORKSHIRE,A,A,"19, N/A, The Park, Scalby, Scarborough, North ..."
9,{50F18103-65C9-9FD5-E050-A8C063054923},595000,2017-04-19 00:00,YO13 0QR,D,N,F,THE OLD NURSERIES,3,SOUTH STREET,SCALBY,SCARBOROUGH,NORTH YORKSHIRE,A,A,"The Old Nurseries, 3, South Street, Scalby, Sc..."

In [121]:
# Duplicates in the dataset
data.duplicated().sum()

0

In [122]:
date_dim = data[["TransactionId", "DateofTransfer"]]
# Convert to datetime format
date_dim["DateofTransfer"] = pd.to_datetime(date_dim["DateofTransfer"])
# Extract day, month, and year
date_dim["Day"] = date_dim["DateofTransfer"].dt.day
date_dim["Month"] = date_dim["DateofTransfer"].dt.month
date_dim["Year"] = date_dim["DateofTransfer"].dt.year
date_dim["Quarter"] = date_dim["DateofTransfer"].dt.quarter
date_dim["DateId"] = date_dim.index + 1
date_dim

<ipython-input-122-db07adff9e27>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dim["DateofTransfer"] = pd.to_datetime(date_dim["DateofTransfer"])
<ipython-input-122-db07adff9e27>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dim["Day"] = date_dim["DateofTransfer"].dt.day
<ipython-input-122-db07adff9e27>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dim["Month"] = date_dim["DateofTransfer"].dt.month
<ipython-input-122-db07adff9e27>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dim["Year"] = date_dim["DateofTransfer"].dt.year
<ipython-input-122-db07adff9e27>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dim["Quarter"] = date_dim["DateofTransfer"].dt.quarter
<ipython-input-122-db07adff9e27>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_dim["DateId"] = date_dim.index + 1

,TransactionId,DateofTransfer,Day,Month,Year,Quarter,DateId
0,{50F18103-65BF-9FD5-E050-A8C063054923},2017-04-11,11,4,2017,2,1
1,{50F18103-65C0-9FD5-E050-A8C063054923},2017-05-05,5,5,2017,2,2
2,{50F18103-65C1-9FD5-E050-A8C063054923},2017-04-28,28,4,2017,2,3
3,{50F18103-65C2-9FD5-E050-A8C063054923},2017-04-03,3,4,2017,2,4
4,{50F18103-65C4-9FD5-E050-A8C063054923},2017-05-22,22,5,2017,2,5
...,...,...,...,...,...,...,...
533465,{49B7852A-7C05-7921-E050-A8C063056E8D},2017-02-17,17,2,2017,1,533466
533466,{49B7852A-7C06-7921-E050-A8C063056E8D},2017-02-14,14,2,2017,1,533467
533467,{49B7852A-7C07-7921-E050-A8C063056E8D},2017-01-10,10,1,2017,1,533468
533468,{49B7852A-7C08-7921-E050-A8C063056E8D},2017-02-17,17,2,2017,1,533469
533469,{49B7852A-7C09-7921-E050-A8C063056E8D},2017-01-11,11,1,2017,1,533470

In [123]:
# Create Dimension Table Property Type
property_type_dim = data[["TransactionId","PropertyType", "PropertyAge", "Tenure"]]
property_type_dim["PropertyTypeId"] = property_type_dim.index + 1
property_type_dim

<ipython-input-123-a030d4660eae>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_type_dim["PropertyTypeId"] = property_type_dim.index + 1

,TransactionId,PropertyType,PropertyAge,Tenure,PropertyTypeId
0,{50F18103-65BF-9FD5-E050-A8C063054923},S,N,F,1
1,{50F18103-65C0-9FD5-E050-A8C063054923},D,N,F,2
2,{50F18103-65C1-9FD5-E050-A8C063054923},D,N,F,3
3,{50F18103-65C2-9FD5-E050-A8C063054923},S,N,F,4
4,{50F18103-65C4-9FD5-E050-A8C063054923},D,N,F,5
...,...,...,...,...,...
533465,{49B7852A-7C05-7921-E050-A8C063056E8D},T,N,F,533466
533466,{49B7852A-7C06-7921-E050-A8C063056E8D},D,N,F,533467
533467,{49B7852A-7C07-7921-E050-A8C063056E8D},S,N,F,533468
533468,{49B7852A-7C08-7921-E050-A8C063056E8D},T,N,F,533469
533469,{49B7852A-7C09-7921-E050-A8C063056E8D},S,N,F,533470

In [124]:
address_dim = data[["TransactionId","StandardizedAddress"]]
# Split the StandardizedAddress
split_address = address_dim["StandardizedAddress"].str.split(", ", expand=True, n=6)
# Rename the columns
split_address.columns = ["PAON", "SAON", "Street", "Locality", "Town_City", "County", "Postcode"]
address_dim = pd.concat([address_dim["TransactionId"], split_address], axis=1)
address_dim["AddressId"] = address_dim.index + 1
address_dim.head()

,TransactionId,PAON,SAON,Street,Locality,Town_City,County,Postcode,AddressId
0,{50F18103-65BF-9FD5-E050-A8C063054923},5,N/A,St Marys Court,Hambleton,Selby,North Yorkshire,Yo8 9Gn,1
1,{50F18103-65C0-9FD5-E050-A8C063054923},Lyndhurst,N/A,N/A,Carlton,Leyburn,North Yorkshire,Dl8 4Bd,2
2,{50F18103-65C1-9FD5-E050-A8C063054923},Gateshill Manor,N/A,Ripley Road,N/A,Knaresborough,North Yorkshire,Hg5 9Ha,3
3,{50F18103-65C2-9FD5-E050-A8C063054923},39,N/A,Hirstead Road,N/A,Scarborough,North Yorkshire,Yo12 6Tw,4
4,{50F18103-65C4-9FD5-E050-A8C063054923},Corner Cottage,N/A,N/A,Newton On Rawcliffe,Pickering,North Yorkshire,Yo18 8Qa,5

In [125]:
# Create Dimension Table PPD Category
ppd_category_dim = data[["TransactionId","PPDCategory"]]
ppd_category_dim["PPDCategoryId"] = ppd_category_dim.index + 1
ppd_category_dim

<ipython-input-125-fd21dd2a01c8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ppd_category_dim["PPDCategoryId"] = ppd_category_dim.index + 1

                                 TransactionId PPDCategory  PPDCategoryId
0       {50F18103-65BF-9FD5-E050-A8C063054923}           A              1
1       {50F18103-65C0-9FD5-E050-A8C063054923}           A              2
2       {50F18103-65C1-9FD5-E050-A8C063054923}           A              3
3       {50F18103-65C2-9FD5-E050-A8C063054923}           A              4
4       {50F18103-65C4-9FD5-E050-A8C063054923}           A              5
...                                        ...         ...            ...
533465  {49B7852A-7C05-7921-E050-A8C063056E8D}           A         533466
533466  {49B7852A-7C06-7921-E050-A8C063056E8D}           A         533467
533467  {49B7852A-7C07-7921-E050-A8C063056E8D}           A         533468
533468  {49B7852A-7C08-7921-E050-A8C063056E8D}           A         533469
533469  {49B7852A-7C09-7921-E050-A8C063056E8D}           A         533470

[530499 rows x 3 columns]

In [126]:
# Create fact table with essential columns
fact_table = data[["TransactionId", "Price"]]

# Merge dimensions into the fact table
merged_table = (
    fact_table
    .merge(address_dim[["TransactionId", "AddressId"]], on="TransactionId", how="inner")
    .merge(date_dim[["TransactionId", "DateId"]], on="TransactionId", how="inner")
    .merge(property_type_dim[["TransactionId", "PropertyTypeId"]], on="TransactionId", how="inner")
    .merge(ppd_category_dim[["TransactionId", "PPDCategoryId"]], on="TransactionId", how="inner")
)
# Ensure the fact table has only the required columns
fact_table_final = merged_table[["TransactionId", "Price", "DateId", "PropertyTypeId", "AddressId", "PPDCategoryId"]]
fact_table_final

,TransactionId,Price,DateId,PropertyTypeId,AddressId,PPDCategoryId
0,{50F18103-65BF-9FD5-E050-A8C063054923},195000,1,1,1,1
1,{50F18103-65C0-9FD5-E050-A8C063054923},275000,2,2,2,2
2,{50F18103-65C1-9FD5-E050-A8C063054923},715000,3,3,3,3
3,{50F18103-65C2-9FD5-E050-A8C063054923},167500,4,4,4,4
4,{50F18103-65C4-9FD5-E050-A8C063054923},300000,5,5,5,5
...,...,...,...,...,...,...
530494,{49B7852A-7C05-7921-E050-A8C063056E8D},275000,533466,533466,533466,533466
530495,{49B7852A-7C06-7921-E050-A8C063056E8D},900000,533467,533467,533467,533467
530496,{49B7852A-7C07-7921-E050-A8C063056E8D},660000,533468,533468,533468,533468
530497,{49B7852A-7C08-7921-E050-A8C063056E8D},385000,533469,533469,533469,533469
530498,{49B7852A-7C09-7921-E050-A8C063056E8D},415000,533470,533470,533470,533470

**Load**

In [136]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('price_paid_data.db')
cursor = conn.cursor()

In [137]:
# Creating Table DimensionAddress
cursor.execute("""
CREATE TABLE IF NOT EXISTS DimensionAddress (
    TransactionId TEXT,
    AddressId INTEGER PRIMARY KEY AUTOINCREMENT,
    PAON TEXT,
    SAON TEXT,
    Street TEXT,
    Locality TEXT,
    Town_City TEXT,
    District TEXT,
    County TEXT,
    Postcode TEXT
);
""")

In [138]:
# Mapping to Address Schema
address_dim.to_sql(
    name='DimensionAddress',  # Name of the table
    con=conn,                 # Database connection
    if_exists='append',       # Options: 'fail', 'replace', 'append'
    index=False               # Do not write DataFrame index as a column
)

530499

In [139]:
# Creating Table DimensionDate
cursor.execute("""
CREATE TABLE IF NOT EXISTS DimensionDate (
    DateId INTEGER PRIMARY KEY AUTOINCREMENT,
    TransactionId TEXT,
    DateofTransfer DATE NOT NULL,
    Year INTEGER,
    Month INTEGER,
    Day INTEGER,
    Quarter INTEGER
);
""")

In [140]:
# Mapping to DimensionDate
date_dim.to_sql(
    name='DimensionDate',  # Name of the table
    con=conn,                 # Database connection
    if_exists='append',       # Options: 'fail', 'replace', 'append'
    index=False)

530499

In [141]:
# Creating Table DimensionPropertyType
cursor.execute("""
CREATE TABLE IF NOT EXISTS DimensionPropertyType (
    PropertyTypeId INTEGER PRIMARY KEY AUTOINCREMENT,
    TransactionId TEXT,
    PropertyAge TEXT,
    Tenure TEXT,
    PropertyType TEXT NOT NULL
);
""")

In [142]:
# Mapping to DimensionPropertyType
property_type_dim.to_sql(
    name='DimensionPropertyType',  # Name of the table
    con=conn,                 # Database connection
    if_exists='append',       # Options: 'fail', 'replace', 'append'
    index=False)

530499

In [143]:
# Creating Table DimensionPPDCategory
cursor.execute("""
CREATE TABLE IF NOT EXISTS DimensionPPDCategory (
    PPDCategoryId INTEGER PRIMARY KEY AUTOINCREMENT,
    TransactionId TEXT,
    PPDCategory TEXT NOT NULL
);
""")

In [144]:
# Mapping to DimensionPPDCategory
ppd_category_dim.to_sql(
    name='DimensionPPDCategory',  # Name of the table
    con=conn,                 # Database connection
    if_exists='append',       # Options: 'fail', 'replace', 'append'
    index=False
 )

530499

In [145]:
# Create Fact Table PropertyTransactions
cursor.execute("""
CREATE TABLE IF NOT EXISTS FactPropertyTransactions (
    TransactionId TEXT PRIMARY KEY,
    Price INTEGER NOT NULL,
    DateId INTEGER NOT NULL,
    PropertyTypeId INTEGER NOT NULL,
    AddressId INTEGER NOT NULL,
    PPDCategoryId INTEGER NOT NULL,
    FOREIGN KEY (PropertyTypeId) REFERENCES DimensionPropertyType(PropertyTypeId),
    FOREIGN KEY (DateId) REFERENCES DimensionDate(DateId),
    FOREIGN KEY (AddressId) REFERENCES DimensionAddress(AddressId),
    FOREIGN KEY (PPDCategoryId) REFERENCES DimensionPPDCategory(PPDCategoryId)
);
""")

In [146]:
fact_table_final.to_sql(
    name="FactPropertyTransactions",  # Name of the fact table
    con=conn,                         # Database connection
    if_exists="append",               # Append data to existing table
    index=False                       # Do not write DataFrame index as a column
)

530499

In [147]:
#Average Property Prices by City
print("Average Property Prices by City:")
cursor.execute("""
SELECT d.Town_City, AVG(f.Price) AS AvgPrice
FROM FactPropertyTransactions f
JOIN DimensionAddress d ON f.AddressId = d.AddressId
GROUP BY d.Town_City;
""")
average_prices = cursor.fetchall()
for row in average_prices:
    print(f"City: {row[0]}, Average Price: {row[1]:,.2f}")

Average Property Prices by City:
City: 19Th Floor, Average Price: 5,000.00
City: 27, Average Price: 15,750.00
City: Ab Kettleby, Average Price: 365,000.00
City: Abbeydale, Average Price: 229,000.00
City: Abbeymead, Average Price: 192,500.00
City: Abbots Langley, Average Price: 424,735.90
City: Abbots Leigh, Average Price: 1,330,000.00
City: Abbotts Ann, Average Price: 503,750.00
City: Aberaeron, Average Price: 230,136.36
City: Aberbargoed, Average Price: 80,000.00
City: Abercrave, Average Price: 190,000.00
City: Aberdare, Average Price: 111,532.25
City: Aberdovey, Average Price: 210,571.43
City: Abergavenny, Average Price: 266,548.10
City: Abergele, Average Price: 182,465.57
City: Aberporth, Average Price: 130,000.00
City: Abertillery, Average Price: 72,638.39
City: Aberystwyth, Average Price: 228,429.07
City: Abingdon, Average Price: 510,453.45
City: Acaster Malbis, Average Price: 435,000.00
City: Accrington, Average Price: 132,292.02
City: Acle, Average Price: 300,000.00
City: Acocks Green, Average Price: 273,666.67
City: Acomb, Average Price: 173,000.00
City: Acton, Average Price: 290,000.00
City: Acton Bridge, Average Price: 190,000.00
City: Addiscombe, Average Price: 245,000.00
City: Addlestone, Average Price: 464,950.95
City: Adwick Upon Dearne, Average Price: 128,500.00
City: Aiskew, Average Price: 248,000.00
City: Albrighton, Average Price: 275,375.00
City: Alcester, Average Price: 338,351.84
City: Aldbourne, Average Price: 900,000.00
City: Aldeburgh, Average Price: 507,217.06
City: Alderholt, Average Price: 483,500.00
City: Alderley Edge, Average Price: 753,314.86
City: Aldershot, Average Price: 508,424.96
City: Aldridge, Average Price: 192,676.67
City: Aldwincle, Average Price: 455,000.00
City: Alford, Average Price: 395,132.69
City: Alfreton, Average Price: 184,966.49
City: All Stretton, Average Price: 446,500.00
City: Allestree, Average Price: 200,000.00
City: Almondbury, Average Price: 210,000.00
City: Alnwick, Average Price: 240,091.56
City: Alresford, Average Price: 612,238.70
City: Alsager, Average Price: 383,500.00
City: Alston, Average Price: 154,976.32
City: Alton, Average Price: 415,857.21
City: Altrincham, Average Price: 537,944.28
City: Alvechurch, Average Price: 385,000.00
City: Alverstoke, Average Price: 185,000.00
City: Alverstone Garden Village, Average Price: 370,000.00
City: Ambleside, Average Price: 433,730.30
City: Amersham, Average Price: 699,015.61
City: Amesbury, Average Price: 173,333.33
City: Amlwch, Average Price: 167,494.15
City: Amlwch Port, Average Price: 125,250.00
City: Ammanford, Average Price: 132,803.07
City: Ampthill, Average Price: 1,500,000.00
City: Anderton, Average Price: 147,000.00
City: Andover, Average Price: 370,498.55
City: Angmering, Average Price: 359,500.00
City: Anlaby, Average Price: 273,760.00
City: Annfield Plain, Average Price: 178,000.00
City: Anstey, Average Price: 130,000.00
City: Ansty, Average Price: 955,000.00
City: Antrobus, Average Price: 395,000.00
City: Appleby, Average Price: 418,000.00
City: Appleby-In-Westmorland, Average Price: 240,681.08
City: Appledore, Average Price: 478,333.33
City: Ardingly, Average Price: 45,000.00
City: Argoed, Average Price: 125,000.00
City: Arlesey, Average Price: 315,031.62
City: Armley, Average Price: 83,653.12
City: Arnside, Average Price: 410,000.00
City: Arthog, Average Price: 151,800.00
City: Arundel, Average Price: 429,141.20
City: Ascot, Average Price: 1,087,966.36
City: Ascott Under Wychwood, Average Price: 477,500.00
City: Ash, Average Price: 615,000.00
City: Ashbourne, Average Price: 349,578.88
City: Ashbury, Average Price: 291,000.00
City: Ashby Magna, Average Price: 825,000.00
City: Ashby-De-La-Zouch, Average Price: 339,853.82
City: Ashcott, Average Price: 251,666.67
City: Ashford, Average Price: 396,808.75
City: Ashington, Average Price: 117,097.07
City: Ashley, Average Price: 520,000.00
City: Ashtead, Average Price: 628,167.32
City: Ashton, Average Price: 230,000.00
City: Ashton On Ribble, Average Price: 80,000.00
City: Ashton-Under-Lyne, Average Price: 155,294.32
City: Ashurst, Average Price: 785,000.00
City: Ashwell, Average Price: 250,000.00
City: Ashwellthorpe, Average Price: 160,000.00
City: Ashwicken, Average Price: 412,333.33
City: Askam-In-Furness, Average Price: 145,586.94
City: Aspatria, Average Price: 178,000.00
City: Aspley Guise, Average Price: 775,000.00
City: Aspull, Average Price: 350,000.00
City: Astley, Average Price: 269,950.00
City: Aston, Average Price: 245,000.00
City: Aston Abbotts, Average Price: 182,500.00
City: Aston Clinton, Average Price: 294,333.33
City: Astwood Bank, Average Price: 164,500.00
City: Atherstone, Average Price: 353,275.06
City: Atherton, Average Price: 309,500.00
City: Attleborough, Average Price: 259,336.65
City: Audenshaw, Average Price: 77,000.00
City: Audlem, Average Price: 225,000.00
City: Aughton, Average Price: 346,000.00
City: Avening, Average Price: 1,052,500.00
City: Axbridge, Average Price: 368,235.71
City: Axminster, Average Price: 283,847.73
City: Aylburton, Average Price: 426,000.00
City: Aylesbury, Average Price: 402,591.65
City: Aylesford, Average Price: 309,748.30
City: Backwell, Average Price: 276,000.00
City: Backworth, Average Price: 205,000.00
City: Bacup, Average Price: 123,087.82
City: Badminton, Average Price: 346,500.00
City: Badsey, Average Price: 307,500.00
City: Bagillt, Average Price: 122,250.00
City: Bagshot, Average Price: 359,227.78
City: Bakewell, Average Price: 346,539.01
City: Bala, Average Price: 175,833.03
City: Baldock, Average Price: 366,339.01
City: Balham, Average Price: 780,000.00
City: Balsall Common, Average Price: 152,545.00
City: Bamburgh, Average Price: 429,750.00
City: Bampton, Average Price: 523,321.22
City: Banbury, Average Price: 380,399.39
City: Bangor, Average Price: 163,399.47
City: Banstead, Average Price: 560,036.29
City: Banwell, Average Price: 269,747.50
City: Bardney, Average Price: 279,950.00
City: Barford, Average Price: 439,166.67
City: Bargoed, Average Price: 89,148.70
City: Barkestone Le Vale, Average Price: 323,000.00
City: Barking, Average Price: 325,450.47
City: Barkingside, Average Price: 296,979.17
City: Barkway, Average Price: 1,125,000.00
City: Barlaston, Average Price: 325,000.00
City: Barleythorpe, Average Price: 10,000.00
City: Barmby Moor, Average Price: 282,750.00
City: Barmouth, Average Price: 165,794.44
City: Barmston, Average Price: 237,500.00
City: Barnard Castle, Average Price: 231,081.97
City: Barnet, Average Price: 609,492.16
City: Barnetby, Average Price: 252,703.70
City: Barnham, Average Price: 339,000.00
City: Barnham Broom, Average Price: 295,000.00
City: Barnoldswick, Average Price: 152,214.48
City: Barnsley, Average Price: 172,050.54
City: Barnstaple, Average Price: 259,843.50
City: Barnt Green, Average Price: 1,067,500.00
City: Barnwell, Average Price: 500,000.00
City: Barrington, Average Price: 610,000.00
City: Barrow-In-Furness, Average Price: 140,682.00
City: Barrow-Upon-Humber, Average Price: 184,014.21
City: Barry, Average Price: 177,569.26
City: Barton, Average Price: 362,500.00
City: Barton Mills, Average Price: 295,000.00
City: Barton On Sea, Average Price: 281,483.33
City: Barton-Upon-Humber, Average Price: 152,543.06
City: Barway, Average Price: 145,000.00
City: Basildon, Average Price: 350,824.49
City: Basingstoke, Average Price: 394,089.49
City: Bassett, Average Price: 211,975.00
City: Batchmere, Average Price: 694,334.00
City: Bath, Average Price: 487,832.64
City: Bathampton, Average Price: 475,000.00
City: Batheaston, Average Price: 585,000.00
City: Batley, Average Price: 174,938.12
City: Battersea, Average Price: 750,000.00
City: Battle, Average Price: 393,315.37
City: Bawdrip, Average Price: 370,000.00
City: Bayston Hill, Average Price: 178,500.00
City: Beaconsfield, Average Price: 1,043,980.65
City: Beaminster, Average Price: 333,123.03
City: Bearpark, Average Price: 500,000.00
City: Beaulieu, Average Price: 1,600,000.00
City: Beaumaris, Average Price: 296,967.50
City: Beaworthy, Average Price: 327,901.09
City: Beccles, Average Price: 288,055.84
City: Beck Row, Average Price: 255,000.00
City: Beckenham, Average Price: 696,649.80
City: Beckermet, Average Price: 233,333.33
City: Beckington, Average Price: 920,000.00
City: Bedale, Average Price: 294,097.61
City: Bedford, Average Price: 374,996.94
City: Bedlington, Average Price: 142,130.10
City: Bedminster, Average Price: 167,000.00
City: Bedworth, Average Price: 167,092.82
City: Beech, Average Price: 520,000.00
City: Beeford, Average Price: 257,500.00
City: Beelsby, Average Price: 300,000.00
City: Beenham, Average Price: 690,000.00
City: Beeston, Average Price: 163,399.00
City: Belaugh, Average Price: 325,000.00
City: Belford, Average Price: 185,861.92
City: Belle Vue, Average Price: 110,000.00
City: Bells Yew Green, Average Price: 1,160,000.00
City: Belper, Average Price: 244,053.99
City: Belvedere, Average Price: 285,346.78
City: Bembridge, Average Price: 336,356.60
City: Benfleet, Average Price: 341,019.30
City: Benham Hill, Average Price: 490,000.00
City: Benllech, Average Price: 180,000.00
City: Bentfield End, Average Price: 520,000.00
City: Bentham, Average Price: 360,000.00
City: Bentley Heath, Average Price: 399,764.29
City: Berkeley, Average Price: 295,570.85
City: Berkhamsted, Average Price: 678,235.70
City: Berry Hill Industrial Estate, Average Price: 36,727.00
City: Berwick-Upon-Tweed, Average Price: 169,987.59
City: Betchworth, Average Price: 516,714.29
City: Bettws Newydd, Average Price: 450,000.00
City: Betws-Y-Coed, Average Price: 238,607.14
City: Bevere, Average Price: 343,000.00
City: Beverley, Average Price: 240,805.18
City: Bewdley, Average Price: 243,643.45
City: Bexhill-On-Sea, Average Price: 258,806.25
City: Bexley, Average Price: 448,682.24
City: Bexleyheath, Average Price: 383,228.30
City: Bicester, Average Price: 628,074.32
City: Bickington, Average Price: 10,000.00
City: Bicton Heath, Average Price: 363,000.00
City: Biddenden, Average Price: 660,000.00
City: Bideford, Average Price: 242,737.02
City: Bidford On Avon, Average Price: 123,000.00
City: Biggin Hill, Average Price: 226,000.00
City: Biggleswade, Average Price: 323,893.95
City: Billericay, Average Price: 449,031.50
City: Billesley, Average Price: 132,000.00
City: Billingham, Average Price: 237,752.65
City: Billingley, Average Price: 420,000.00
City: Billingshurst, Average Price: 588,759.75
City: Bilston, Average Price: 127,049.75
City: Bilton, Average Price: 370,000.00
City: Binfield, Average Price: 711,000.00
City: Bingley, Average Price: 246,086.56
City: Binley, Average Price: 145,750.00
City: Birchington, Average Price: 281,664.89
City: Birdham, Average Price: 750,000.00
City: Birkdale, Average Price: 189,500.00
City: Birkenhead, Average Price: 114,025.72
City: Birkenshaw, Average Price: 1,640,950.00
City: Birmingham, Average Price: 238,522.77
City: Birmingham Business Park, Average Price: 73,900,000.00
City: Birstall, Average Price: 150,000.00
City: Bishop Auckland, Average Price: 123,701.32
City: Bishop'S Stortford, Average Price: 474,217.29
City: Bishops Castle, Average Price: 232,947.37
City: Bishops Cleeve, Average Price: 325,000.00
City: Bishops Lydeard, Average Price: 322,500.00
City: Bishopsteignton, Average Price: 244,987.50
City: Bishopston, Average Price: 217,500.00
City: Bisley, Average Price: 801,666.67
City: Bittaford, Average Price: 382,500.00
City: Bitterne, Average Price: 153,333.33
City: Bitterne Park, Average Price: 127,833.33
City: Blaby, Average Price: 126,500.00
City: Blackburn, Average Price: 201,286.57
City: Blackfordby, Average Price: 240,000.00
City: Blackhill, Average Price: 410,000.00
City: Blackpool, Average Price: 160,482.21
City: Blackstone, Average Price: 270,000.00
City: Blackthorn, Average Price: 395,000.00
City: Blackwater, Average Price: 240,000.00
City: Blackwell, Average Price: 467,500.00
City: Blackwood, Average Price: 155,870.76
City: Blacon, Average Price: 380,000.00
City: Blaenau Ffestiniog, Average Price: 100,134.03
City: Blakeney, Average Price: 356,305.28
City: Blandford Forum, Average Price: 328,044.48
City: Blaydon-On-Tyne, Average Price: 162,940.23
City: Bleddfa, Average Price: 650,000.00
City: Bletchley, Average Price: 182,999.62
City: Bloxham, Average Price: 290,000.00
City: Bluebridge Industrial Estate, Average Price: 285,000.00
City: Blundeston, Average Price: 287,000.00
City: Blunsdon, Average Price: 126,000.00
City: Blyth, Average Price: 144,017.52
City: Bodicote, Average Price: 284,250.00
City: Bodmin, Average Price: 298,539.21
City: Bodorgan, Average Price: 294,538.46
City: Bognor Regis, Average Price: 292,578.95
City: Boldon Colliery, Average Price: 170,330.76
City: Bolton, Average Price: 173,104.73
City: Boncath, Average Price: 197,026.47
City: Bonehill, Average Price: 600,000.00
City: Bonsall, Average Price: 447,500.00
City: Bootle, Average Price: 99,122.29
City: Bordon, Average Price: 369,915.57
City: Borehamwood, Average Price: 479,301.97
City: Borough Green, Average Price: 395,000.00
City: Boroughbridge, Average Price: 355,000.00
City: Borrowash, Average Price: 189,995.00
City: Borth, Average Price: 224,460.71
City: Borth Y Gest, Average Price: 275,000.00
City: Borwick, Average Price: 237,500.00
City: Boscastle, Average Price: 281,789.68
City: Boscombe, Average Price: 177,900.00
City: Boston, Average Price: 186,999.62
City: Botley, Average Price: 495,000.00
City: Boughton, Average Price: 130,000.00
City: Boughton Under Blean, Average Price: 332,000.00
City: Bourne, Average Price: 307,793.87
City: Bourne End, Average Price: 554,111.71
City: Bournemouth, Average Price: 316,101.38
City: Bournemouth International Airport, Average Price: 420,000.00
City: Bourton On The Water, Average Price: 350,000.00
City: Bovey Tracey, Average Price: 370,000.00
City: Bow Street, Average Price: 200,863.64
City: Bowdon, Average Price: 1,044,270.00
City: Bowgreave, Average Price: 209,000.00
City: Box, Average Price: 350,000.00
City: Bozeat, Average Price: 470,000.00
City: Brackley, Average Price: 344,682.67
City: Bracknell, Average Price: 473,672.66
City: Bradden, Average Price: 300,000.00
City: Bradenstoke, Average Price: 265,000.00
City: Bradford, Average Price: 148,098.79
City: Bradford-On-Avon, Average Price: 398,649.72
City: Bradley Stoke, Average Price: 852,000.00
City: Bradninch, Average Price: 695,000.00
City: Bradwell Village, Average Price: 320,500.00
City: Braintree, Average Price: 390,089.96
City: Bramcote, Average Price: 825,000.00
City: Bramhall, Average Price: 363,625.00
City: Bramhope, Average Price: 480,000.00
City: Bramley, Average Price: 82,895.00
City: Brampton, Average Price: 202,747.96
City: Brancaster, Average Price: 900,000.00
City: Brandesburton, Average Price: 175,000.00
City: Brandon, Average Price: 225,419.79
City: Branksome, Average Price: 161,750.00
City: Branksome Park, Average Price: 332,133.11
City: Bransgore, Average Price: 1,900,000.00
City: Bratton, Average Price: 317,500.00
City: Braughing, Average Price: 515,000.00
City: Braunston, Average Price: 410,000.00
City: Braunton, Average Price: 302,146.20
City: Braybrooke, Average Price: 675,000.00
City: Breage, Average Price: 320,000.00
City: Brecon, Average Price: 218,548.18
City: Brentford, Average Price: 1,085,149.28
City: Brentwood, Average Price: 496,869.44
City: Bressingham, Average Price: 770,000.00
City: Bretton, Average Price: 430,447.00
City: Bricket Wood, Average Price: 146,500.00
City: Bridgemary, Average Price: 101,000.00
City: Bridgend, Average Price: 173,612.22
City: Bridgnorth, Average Price: 238,023.04
City: Bridgwater, Average Price: 232,528.88
City: Bridlington, Average Price: 149,321.73
City: Bridport, Average Price: 414,882.00
City: Bridstow, Average Price: 330,000.00
City: Brierley, Average Price: 140,000.00
City: Brierley Hill, Average Price: 194,798.29
City: Brigg, Average Price: 162,670.51
City: Brighouse, Average Price: 171,107.49
City: Brighthampton, Average Price: 422,000.00
City: Brightlingsea, Average Price: 9,000.00
City: Brighton, Average Price: 446,644.51
City: Brighton Marina Village, Average Price: 556,369.08
City: Brigsteer, Average Price: 575,000.00
City: Brimscombe, Average Price: 340,000.00
City: Brinklow, Average Price: 735,000.00
City: Brinkworth, Average Price: 600,000.00
City: Brinsley, Average Price: 377,500.00
City: Brislington, Average Price: 201,875.00
City: Bristol, Average Price: 371,692.05
City: Brixham, Average Price: 230,265.27
City: Brixworth, Average Price: 1,042,778.00
City: Broadclyst, Average Price: 237,950.00
City: Broadmayne, Average Price: 258,833.33
City: Broadmeadows, Average Price: 95,000.00
City: Broadstairs, Average Price: 299,673.40
City: Broadstone, Average Price: 425,909.18
City: Broadwater, Average Price: 109,500.00
City: Broadway, Average Price: 791,427.64
City: Broadwell, Average Price: 150,000.00
City: Brockenhurst, Average Price: 989,648.65
City: Brockworth, Average Price: 244,975.00
City: Brocton, Average Price: 340,000.00
City: Bromborough, Average Price: 82,500.00
City: Bromham, Average Price: 570,000.00
City: Bromley, Average Price: 522,951.37
City: Brompton, Average Price: 78,000.00
City: Bromsgrove, Average Price: 280,279.47
City: Bromyard, Average Price: 284,520.00
City: Bronaber, Average Price: 38,135.00
City: Brooke, Average Price: 549,950.00
City: Broom, Average Price: 410,000.00
City: Broseley, Average Price: 224,128.25
City: Brough, Average Price: 239,641.36
City: Broughton, Average Price: 236,250.00
City: Broughton Gifford, Average Price: 542,500.00
City: Broughton Hackett, Average Price: 336,000.00
City: Broughton-In-Furness, Average Price: 260,770.83
City: Broxbourne, Average Price: 505,223.41
City: Brundall, Average Price: 1,050,000.00
City: Bruton, Average Price: 384,689.29
City: Brympton, Average Price: 380,000.00
City: Brynhyfryd, Average Price: 500.00
City: Brynteg, Average Price: 180,000.00
City: Buckden, Average Price: 525,000.00
City: Buckfastleigh, Average Price: 236,531.67
City: Buckhurst Hill, Average Price: 594,119.56
City: Buckingham, Average Price: 427,440.33
City: Bucklesham, Average Price: 239,995.00
City: Buckley, Average Price: 166,590.70
City: Bucknell, Average Price: 275,111.54
City: Buckton, Average Price: 115,500.00
City: Bude, Average Price: 327,622.06
City: Budleigh Salterton, Average Price: 420,367.09
City: Budock Water, Average Price: 205,000.00
City: Buglawton, Average Price: 255,000.00
City: Builth Wells, Average Price: 158,955.92
City: Bulkington, Average Price: 100,000.00
City: Bungay, Average Price: 252,840.15
City: Buntingford, Average Price: 472,618.30
City: Burbage, Average Price: 375,000.00
City: Burderop, Average Price: 484,000.00
City: Bures, Average Price: 532,093.75
City: Burford, Average Price: 846,311.39
City: Burgess Hill, Average Price: 375,489.08
City: Burgh Le Marsh, Average Price: 290,000.00
City: Buriton, Average Price: 250,000.00
City: Burley In Wharfedale, Average Price: 324,331.67
City: Burnham, Average Price: 450,000.00
City: Burnham Market, Average Price: 368,497.50
City: Burnham-On-Crouch, Average Price: 395,727.27
City: Burnham-On-Sea, Average Price: 222,492.86
City: Burnley, Average Price: 133,259.71
City: Burntwood, Average Price: 204,957.83
City: Burpham, Average Price: 1,101,000.00
City: Burry Port, Average Price: 155,453.81
City: Burscough, Average Price: 248,000.00
City: Bursledon, Average Price: 120,000.00
City: Burton, Average Price: 112,250.00
City: Burton Bradstock, Average Price: 530,000.00
City: Burton Latimer, Average Price: 372,000.00
City: Burton-On-Trent, Average Price: 318,453.77
City: Burwell, Average Price: 407,500.00
City: Bury, Average Price: 188,508.70
City: Bury St Edmunds, Average Price: 361,971.91
City: Bushey, Average Price: 551,175.33
City: Buxton, Average Price: 220,268.49
City: Byfield, Average Price: 400,000.00
City: Byfleet, Average Price: 265,454.55
City: Caernarfon, Average Price: 158,789.36
City: Caerphilly, Average Price: 178,699.91
City: Caersws, Average Price: 197,809.52
City: Caister On Sea, Average Price: 345,000.00

In [148]:
# Export Average Property Prices to CSV
average_prices_df = pd.DataFrame(average_prices, columns=["City", "AveragePrice"])
average_prices_df.to_csv('average_property_prices_by_city.csv', index=False)